@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    font-family: "Inter", serif;
}

body{
    @apply min-h-screen bg-[#FAFAFA];
}

.shadow{
  box-shadow: 0 0 24px 0 rgba(8, 23, 53, 0.16);
}

html, body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
  overflow-y: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for specific elements */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* Global scrollbar hiding */
* {
  -ms-overflow-style: none !important;  /* IE and Edge */
  scrollbar-width: none !important;     /* Firefox */
}

/* Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none !important;
}